/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  background-color: white;
  color: #00001e;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  line-height: 1.45;
  font-weight: 700;
  text-rendering: optimizeLegibility; }

h1 {
  font-family: "Cormorant Garamond", serif;
  font-size: 22.5px; }

a {
  color: #246eb9;
  text-decoration: none; }

p {
  margin-bottom: 1em;
  font-weight: 400; }

code {
  padding: 1px 5px; }

section {
  width: 100%; }

.highlight {
  border-left: 0.25rem solid #92140c;
  font-family: monospace;
  font-size: 13.5px;
  overflow-x: scroll;
  padding: 1rem;
  margin: 1rem auto; }
  @media (min-width: 25rem) {
    .highlight {
      font-size: 18px; } }

.lineno {
  margin-right: .5em; }

.page__content {
  background: #ecf0f1;
  border-left: 3rem solid white;
  border-right: 3rem solid white;
  padding-top: 3rem; }
  .page__content:before, .page__content:after {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    z-index: 5;
    height: 3rem;
    background-color: white; }
  .page__content:before {
    top: 0; }
  .page__content:after {
    bottom: 0; }

section {
  margin: 0 auto; }

.klajdi {
  max-width: 75rem;
  padding: 2rem; }
