---
layout: default
title: Other
permalink: /other/
---

  <div class="other-container">
    <div class="projects">
      <h1>Projects</h1>
      {% for project in site.data.projects %}
        <a href="{{project.url}}">{{project.name}}</a>
      {% endfor %}
    </div>
    <div class="resources">
      <h1>Resources</h1>
      {% for resource in site.data.resources %}
        <a href="{{resource.url}}" target="_blank">{{resource.name}}</a>
      {% endfor %}
    </div>
    <div class="misc">
      <h1>Miscellaneous</h1>
      {% for misc in site.data.miscellaneous %}
        <a href="{{misc.url}}" target="_blank">{{misc.name}}</a>
      {% endfor %}
    </div>
  </div>
