<header class="site-header">

  <div class="burger">
    <i class="first"></i>
    <i class="second"></i>
  </div>
  <nav class="site-nav">
    <ul class="nav-links">
      <li class="home"><a href="/">Hello</a></li>
      <li class="journal"><a href="/journal">Journal</a></li>
      <li class="resources"><a href="/resources">Other</a></li>
    </ul>
    <div class="contact">
      <a href="mailto:kbejko@gmail.com?subject=Hello&amp;body=Hi Klajdi, how are you? My name is..."><i class="fa fa-envelope fa-lg"></i></a>
      <a href="https://github.com/kbejko" target="_blank"><i class="fa fa-github fa-lg"></i></a>
      <a href="https://twitter.com/klazhdi" target="_blank"><i class="fa fa-twitter fa-lg"></i></a>
    </div>
  </nav>

</header>
