<nav class="site__nav">

  <ul class="site__nav--links">
    <li><a href="/">Hello</a></li>
    <li><a href="/journal/">Journal</a></li>
    <li><a href="/projects/">Projects</a></li>
  </ul>

  <ul class="site__nav--contact">
    <li><a href="mailto:kbejko@gmail.com?subject=Hello&amp;body=Hi Klajdi, how are you? My name is..."><i class="fa fa-envelope fa-lg"></i></a></li>
    <li><a href="https://github.com/kbejko" target="_blank"><i class="fa fa-github fa-lg"></i></a></li>
    <li><a href="https://twitter.com/klazhdi" target="_blank"><i class="fa fa-twitter fa-lg"></i></a></li>
    <li><a href="#"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
  </ul>

</nav>
