body {
  background-color: $header-color;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

a {
  color: $link-color;
  text-decoration: none;
}


pre,
code {
  background-color: $code-bg-color;
}

code {
  padding: 1px 5px;
}

pre {
  border: 1px solid $text-color;
  font-size: $small-font-size;
  overflow-x: scroll;
  padding: 1rem;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    }
}

@media only screen and (min-width: $third-bp) {
  pre {
    font-size: $base-font-size;
  }
}
blockquote, q {
  margin: 1em;
}

ol {
  list-style: decimal;
}
