body {
  color: $text-color;
  font-family: $base-font-family;
  font-weight: 400;
  font-size: $base-font-size;
}

a {
  color: $link-color;
  text-decoration: none;
  font-weight: 700;
}


pre,
code {
  background-color: $code-bg-color;
}

code {
  padding: 1px 5px;
}

pre {
  border: 1px solid $text-color;
  overflow-x: scroll;
  padding: 8px 12px;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    }
}

blockquote, q {
  margin: 1em;
}

ol {
  list-style: decimal;
}
