$base-font-family: 'Cutive Mono', monospace;
$base-font-size:   16px;
$small-font-size:  $base-font-size * .875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #4682b4; // SteelBlue
$link-color:       #000080; // Navy
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: rgba(0, 0, 0, .14);
$grey-color-dark:  rgba(0, 0, 0, .28);

$box-shadow-color-light: 0 0 4px $grey-color-light;
$box-shadow-color-darker: 0 4px 8px $grey-color-dark;

$border-width: 100%;
$border-margin: 1em 2em;
