//Words
$base-font-family: 'Noto Sans', sans-serif;
$base-font-size:   18px;
$small-font-size:  $base-font-size * .75;
$base-line-height: 1.45;

$spacing-unit:     30px;

//Colors
$text-color:       #000080; // Navy
$link-color:       #4285f4; // Blue
$header-color:     #fff;    // White
$code-bg-color:    #f5f5dc; // Beige
$bg-color-links:   rgba(234, 234, 241, 0.5); //Faint Blue

//Shadows
$grey-color-light: rgba(0, 0, 0, .14);
$grey-color-dark:  rgba(0, 0, 0, .28);
$box-shadow-color-light: 0 0 4px $grey-color-light;
$box-shadow-color-darker: 0 4px 8px $grey-color-dark;

//Transitions
$link-pop-trans-up: all 0.2s ease-out;
$link-pop-trans-down: all 0.3s ease-out;

$border-width: 100%;
$border-margin: 1em 2em;
$max-body-margin: 1em auto;

//Breakpoints
$first-bp: 420px;
$second-bp: 670px;
$third-bp: 960px;
$max-body-width: 1200px;
