.main-page-fig {
  background: $header-color;
  border: 1px dotted $text-color;
  margin-bottom: 2em;
  padding: 1em .5em;
  width: 100%;
  img {
    width: 100%;
  }
  figcaption {
    text-align: center;
  }
}
