.journal__list {
  max-width: $four-hundred;
  display: flex;
  flex-wrap: wrap;
}
.journal__post {
  max-width: 36rem;
  width: 10rem;
  height: 10rem;
  background-size: cover;
  background-position: center;
}
