.post-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;

  li {
    background-color: $bg-color-links;
    box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
    margin: 1em;
    padding: 1em;
  }

  .post-link {
    flex: 1 100%;
    .post-title-link {
      text-decoration: underline;
    }
  }
}
.post-title {
  font-size: $base-font-size;
}

@media only screen and (min-width: $second-bp) {
  .post-list {
    .post-link {
      flex: 1 50%;
    }
    li {
      box-shadow: none;
      transition: $link-pop-trans-down;
      &:hover {
        box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
        transform: translateY(-0.5em);
        transition: $link-pop-trans-up;
      }
    }
  }
  .post-title {
    font-size: $base-font-size * 2;
  }
}
