.other-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .resources,
  .projects,
  .misc {
    display: flex;
    flex: 1 100%;
    flex-flow: column wrap;
    font-size: 1.5rem;
    text-align: center;
    a {
      margin: 1em;
      padding: 1em;
      background-color: $bg-color-links;
      box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
      font-size: $base-font-size;
      // margin: 10px;
    }
    i {
      font-size: $small-font-size;
    }
    span {
      color: $text-color;
      display: block;
    }
  }
}

@media only screen and (min-width: $second-bp) {
  .other-container {
    .resources,
    .projects,
    .misc {
      flex: 1 30%;
      a {
        box-shadow: none;
        transition: $link-pop-trans-down;
        &:hover {
          box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
          transform: translateY(-0.5em);
          transition: $link-pop-trans-up;
        }
      }
    }
  }
}
