.site__header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background: $white;
  box-shadow: $box-shadow-light, $box-shadow-dark;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  height: 4rem;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 2;

  &--logo {
    background: url('../assets/klajdi.svg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 3rem;
    width: 3rem;
  }

  &--name {
    font-size: 1em;
    color: $navy;
  }

  &--burger {
    cursor: pointer;
    width: 2rem;

    .line-top, .line-bottom {
      background: $blue;
      display: block;
      height: .25rem;
      -webkit-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease;
      transition: all 0.5s ease;
      -webkit-transform-origin: .47rem;
              transform-origin: .47rem; /*this is as close as I can get it to an x*/
    }
    .line-top {
      margin-bottom: .5rem;
    }
  }
  .rotate-down {
    background: $red;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .rotate-up {
    background: $red;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
