.page-content {
  font-size: $small-font-size;
  line-height: $base-line-height;
  max-width: 100%;
  position: absolute;
  top: $spacing-unit * 4;
}

.wrapper {
  box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
  overflow-x: hidden;
  padding: 10%;
  h1,
  p {
    margin: .5rem 1.5rem;
  }
  .post-close {
    left: 95%;
    position: relative;
  }
}

@media only screen and (min-width: $first-bp) {
  .page-content {
    left: 0;
    margin: 1em auto;
    max-width: 90%;
    right: 0;
  }
}

@media only screen and (min-width: $second-bp) {
  .page-content {
    font-size: $base-font-size;
  }
}

@media only screen and (min-width: $third-bp) {
  .page-content {
    max-width: 960px;
  }
}
