.page-content {
  box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
  display: flex;
  justify-content: center;
  line-height: $base-line-height;
  position: absolute;
  top: $spacing-unit * 3;
  max-width: 100%;
}

.wrapper {
  max-width: 100%;
}

@media only screen and (min-width: $first-bp) {
  .page-content {
    left: 0;
    right: 0;
    margin: 1em auto;
    max-width: 70%;
    padding: 1em;
  }

  .wrapper {
    max-width: 90%
  }
}
