.site-header {
  background-color: $header-color;
  box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
  display: flex;
  justify-content: center;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  z-index: 1;
}

.site-nav {
  line-height: $base-line-height;

  li {
    margin: 1em;
    text-decoration: underline;
  }
}

.nav-links {
  display: flex;
  flex-flow: row;
  text-decoration: none;

  a:link {
    text-decoration: none;

    :hover {
      text-decoration: line-through;
    }
  }
}


@media only screen and (min-width: $second-bp) {
  .site-header {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    right: 0;
  }
}
