.site-header {
  box-shadow: $box-shadow-color-light, $box-shadow-color-darker;
  display: flex;
  justify-content: center;
  margin: $max-body-margin;
  max-width: $max-body-width;
}

.site-nav {
  line-height: $base-line-height;

  li {
    margin: 1em;
    text-decoration: underline;
  }

  .visible {
    font-size: $base-font-size;
    transition: font-size 500ms ease-in-out;
  }
}

.nav-links {
  display: flex;
  flex-flow: row;
  font-size: 0;
  transition: font-size 400ms ease-in-out;

  a:link {
    text-decoration: none;

    :hover,
    :active {
      text-decoration: line-through;
    }
  }
}


.burger {
  cursor: pointer;
  // height: 12px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  transition: top 300ms ease-in-out;
  width: 20px;

  i {
    background-color: $grey-color;
    display: block;
    height: 2px;
    margin-bottom: 8px;
    position: relative;
    transition: all 300ms ease-in-out;
    width: 100%;
  }

  .rotate-down {
    position: absolute;
    transform: rotate(45deg);
  }

  .rotate-up {
    transform: rotate(-45deg);
  }
}

@media (max-width: 1200px) {
  .site-header {
    margin: $border-margin;
    max-width: $border-width;
  }
}
