.sidebar {
  bottom: 1%;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 1%;
  text-align: center;

  .fa {
    color: $link-color;
    padding: .7em .2em;
    text-shadow: $box-shadow-color-light, $box-shadow-color-darker;
  }
}


@media only screen and (min-width: $second-bp) {
  .sidebar {
    right: 5%;

    a:hover {
      transform: scale(1.5, 1.5);
    }
  }
}
