.sidebar {
  bottom: 1em;
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 3em;
  text-align: center;

  .fa {
    color: $link-color;
    padding: .7em;
    text-shadow: $box-shadow-color-light, $box-shadow-color-darker;
  }

  a:hover {
    transform: scale(1.5, 1.5);
  }
}
