.sidebar {
  bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: fixed;
  right: 64px;
  text-align: center;
}

.fa {
  color: $link-color;
  margin: 10px;
  text-shadow: $box-shadow-color-light, $box-shadow-color-darker;
}
