* {
  box-sizing: border-box;
}
html,
body {
  background-color: $white;
  color: $navy;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

a {
  color: $blue;
  text-decoration: none;
}


pre,
code {
  background-color: $beige;
}

code {
  padding: 1px 5px;
}

pre {
  border: 1px solid $navy;
  font-size: $small-font-size;
  overflow-x: scroll;
  padding: 1rem;

  > code {
    border: 0;
    padding-left: 0;
    padding-right: 0;
    }

    @media (min-width: $nine-sixty) {
      font-size: $base-font-size;
    }
}
