* {
  box-sizing: border-box;
}

body {
  background-color: $white;
  color: $dark;
  font-family: $body-font;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 700;
  text-rendering: optimizeLegibility;
}
h1 {
  font-family: $heading-font;
  font-size: $heading-font-size;
}

a {
  color: $blue;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
  font-weight: 400;
}

code {
  padding: 1px 5px;
}

section {
  width: 100%;
}

.highlight {
  border-left: .25rem solid $red;
  font-family: monospace;
  font-size: $small-font-size;
  overflow-x: scroll;
  padding: 1rem;
  margin: 1rem auto;

  @media (min-width: $four-hundred) {
    font-size: $base-font-size;
  }
}

.lineno {
  margin-right: .5em;
}
